In [ ]:
import pandas as pd
df = pd.read_csv('movie_sample_dataset.csv')
df.head()

,color,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actors,movie_facebook_likes
0,Color,Martin Scorsese,240,116866727.0,Biography|Comedy|Crime|Drama,The Wolf of Wall Street,2013,English,USA,100000000.0,8.2,"Leonardo DiCaprio,Matthew McConaughey,Jon Favreau",138000
1,Color,Shane Black,195,408992272.0,Action|Adventure|Sci-Fi,Iron Man 3,2013,English,USA,200000000.0,7.2,"Robert Downey Jr.,Jon Favreau,Don Cheadle",95000
2,color,Quentin Tarantino,187,54116191.0,Crime|Drama|Mystery|Thriller|Western,The Hateful Eight,2015,English,USA,44000000.0,7.9,"Craig Stark,Jennifer Jason Leigh,Zoë Bell",114000
3,Color,Kenneth Lonergan,186,46495.0,Drama,Margaret,2011,English,usa,14000000.0,6.5,"Matt Damon,Kieran Culkin,John Gallagher Jr.",0
4,Color,Peter Jackson,186,258355354.0,Adventure|Fantasy,The Hobbit: The Desolation of Smaug,2013,English,USA,225000000.0,7.9,"Aidan Turner,Adam Brown,James Nesbitt",83000

Membaca dataset movie_sample_dataset.csv ke dalam object df kemudian menampilkan 5 baris data teratas dengan menggunakan library pandas yang diimport sebagai pd

In [ ]:
df.dtypes

color                    object
director_name            object
duration                  int64
gross                   float64
genres                   object
movie_title              object
title_year                int64
language                 object
country                  object
budget                  float64
imdb_score              float64
actors                   object
movie_facebook_likes      int64
dtype: object

Memeriksa tipe data pada tiap variabel

In [ ]:
import numpy as np
df.replace([" ","Nan", "N/A", "n/a", "null", "NULL", "Null", "-"], np.nan, inplace=True)
print(df.isnull().sum())

color                   11
director_name           13
duration                 0
gross                    8
genres                   1
movie_title              0
title_year               0
language                 0
country                  0
budget                   4
imdb_score               0
actors                   0
movie_facebook_likes     0
dtype: int64

* Mengidentifikasi nilai yang hilang dengan menggunakan library numpy dan diimport sebagai np
* Mengganti nilai kosong, "N/A", "Null", dan "-" dengan nilai "nan" kemudian menampilkan banyakknya data yang memiliki nilai "nan" sehingga teridentifikasi sebagai nilai yang hilang pada setiap kolom variabel

In [ ]:
df.dropna(subset=["color", "director_name", "gross", "genres", "budget"], axis=0, inplace=True)
df.reset_index(drop=True, inplace=True)

Menghapus nilai "nan" yang telah teridentifikasi sebagai nilai yang hilang tersebut

In [ ]:
df=df[(df["duration"] >= 30) & (df["duration"] < 300)]
df=df[(df["imdb_score"] >= 0) & (df["imdb_score"] <= 10)]

Menangani Outliner data yang tidak masuk akal pada variabel "duration", "imdb_score"

In [ ]:
df.drop_duplicates(inplace=True)

Menghapus baris data yang terduplikasi

In [ ]:
df["color"]=df["color"].str.capitalize()
df["country"]=df["country"].str.upper()
df["language"]=df["language"].str.capitalize()

df["country"]=df["country"].replace({"UNITED STATES":"USA", "NEW ZEALAND":"NZ", "FRANCE":"FR", "AUSTRALIA":"AU", "CZECH REPUBLIC":"CZ"})

Menormalisasi data yang tidak konsisten seperti perbedaan ("Color" dan "color"), ("USA", "usa", dan "United States")  pada variabel "color", "country", dan "language"

In [ ]:
df.to_csv('movie_dataset_cleaned.csv', index=False)